* {
    font-family: Courier, monospace, Arial, sans-serif !important;
}

h1 {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: #f28202;
}
a.nav-link {
    color: #000;
    padding: 8px;
}

.nav-link:hover {
    text-decoration: underline;
    color: #000;
}

.navbar {
    background-color: #f28202;
}

.navbar-toggler {
    border-color: #fff;
}

.nav-item .nav-link.active {
    background-color: #fdb768;
    border-radius: 5px;
    color: #000;
}

img {
    transition: transform 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
img:hover {
    transform: scale(1.05);
}
img.d-block:hover {
    transform: none;
}

body {
    font-size: 20px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}

.container:not(.designs) {
    width: 50% !important;
    min-width: 400px;
    margin: 0 auto;
}
